[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iqoptionapi = {git = "git://github.com/iqoptionapi/iqoptionapi.git"}
flask = "*"
pyjwt = "*"
pyyaml = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "pycodestyle iqbts tests"
test = "python -m unittest discover"
